body {                                     
    font-family: Arial, Helvetica, sans-serif;
    background-color:#6c96c0
    
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3d41;
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#TextHead {
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: #a7aeb3;
}

#OutPutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-basis: 33%; */
    height: 100vh;
    margin-top: 10px;
    /* margin-top: 10px; */
    border: solid;
}

#renderCard {
    background-color: #4e4f50;
    width: 200px;
    margin-top: 70vh;
}

.form-registr {
    background-color: #396b9c;
    width: 400px;
    height: 250px;
    padding: 10px;
}

.uInfo-fields {
    height: 50px;
    padding: 10px;
    padding-bottom: 15px;
}

#Input-Name{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5b91c7;
    font-size: 25px;
}

#send-btn {
    width: 100px;
    height: 40px;
}

.className {
    display: flex;
    flex-direction: column;
    background-color: #3b3d415d;
    margin-top: 1%;
}

.textOut {
    margin-left: 1%;
    font-family:monospace;
    font-size: 30px;
}